.login-page {
  height: 100vh;
  background-image: url("assets/images/landing-page.png");
  background-position: center;
  background-repeat: no-repeat;
}

.login-form {
  display: grid;
  place-content: center;
  /* border: 2px solid white; */
  height: 100vh;
  width: 40vw;
  min-width: 400px;
  max-width: 600px;
}

.login-form h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.login-form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.login-form label {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.login-form input {
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.login-form input:focus-visible {
  outline: none;
  border: 1px solid #0077ff;
}

.login-form button {
  margin-top: 5px;
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  background-color: #0077ff;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.login-form button:hover {
  background-color: #005ae6;
}

.login-form p {
  margin-top: 20px;
  font-size: 1.2rem;
}

.login-form p a {
  color: #0077ff;
  text-decoration: none;
}

.login-form p a:hover {
  text-decoration: underline;
}
