.tile .chess-piece {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
}

.tile .chess-piece:hover {
  cursor: grab;
}

.tile .chess-piece:active {
  cursor: grabbing;
}

.tile.white-tile {
  background-color: #eed3ac;
  user-select: none;
}

.tile.black-tile {
  background-color: #ac7d58;
  user-select: none;
}
